.container{
    background-color: rgb(30, 62, 104);
    border: 1px solid rgb(30, 62, 104);
    border-radius: 5px;
    width: 400px;
    min-height: 445px;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, .35) 0px 0px 20px .2px;
}
.card{
    color: rgb(245, 245, 245);
    text-decoration: none;
}
.info{
    display: flex;
    flex-direction: column;
   
}
.nombre{
    font-family: 'Enriqueta', arial, serif; 
    line-height: 1.25; 
    font-size: 30px; 
}
.continent{
    font-family: 'Enriqueta', arial, serif; 
    line-height: 1.25; 
    font-size: 20px; 
}
.container:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px 5px;
}
